body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.letter-spacing-0125 {
	letter-spacing: 0.125px;
}


/* width */
.exercies::-webkit-scrollbar {
	width: 6px;
	border-radius: 3px;
  }
  
  /* Track */
.exercies::-webkit-scrollbar-track {
	background: #777777; 
	border-radius: 3px;
}
   
  /* Handle */
.exercies::-webkit-scrollbar-thumb {
	background: #FFCC21; 
	border-radius: 3px;
}
  
  /* Handle on hover */
.exercies::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background: #FF963C; 

}

.circle-number {
	text-shadow: 0px 0px 6px #FCA500;
}

tspan{
	display: none !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.center {
		@apply flex items-center justify-center;
	}

	.row {
		@apply flex flex-row items-center;
	}

	.col {
		@apply flex flex-col items-center;
	}

	.row-center {
		@apply flex flex-row items-center justify-center;
	}

	.row-between {
		@apply flex flex-row items-center justify-between;
	}
}

@layer components {}

@layer utilities {
  .yellow-gradient {
    background: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);
  }
}